@{
    ViewData["Title"] = "Home Page";
}

<body id="home-page">
      
 
    
</body>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p class="link_home_details">Learn about <a class="link_color" href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
